.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
  background-color: rgba(224, 217, 217, 0.534);
  border-radius: 1rem;
  
}
